.dms-chart-container {
    position: relative;
    min-height: 50px;

    &.loading {
        table {
            opacity: .3;
        }

        .spinner {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            top: calc(50% - 10px);
            left: calc(50% - 35px);
        }
    }
}