.dms-file-tree-data-container {
    @extend .dms-spinner-container;

    &.loading {
        .dms-file-tree-data {
            opacity: .3;
        }
    }
}

.dms-file-tree-data {
    .dms-object-list {
        margin-bottom: 0;

        .list-group-item {
            padding-right: 0;
            border-radius: 0!important;
            border-left: none!important;
            border-right: none!important;
        }
    }

    .dms-file-item {
        cursor: auto;
        img {
            width: 16px;
        }

        .dms-file-action-buttons {
            padding-right: 10px;
        }
    }

    .dms-folder-item {
        cursor: pointer;

        .fa-folder {
            display: none;
        }

        &.dms-folder-closed {
            & > .dms-object-list {
                display: none;
            }

            .fa-folder-open {
                display: none;
            }
            .fa-folder {
                display: inline;
            }
        }

        .help-block {
            margin: 0;
        }
    }
}