.dms-table-container {
    position: relative;
    min-height: 50px;

    &.loading {
        table {
            opacity: .3;
        }

        .spinner {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            top: calc(50% - 10px);
            left: calc(50% - 35px);
        }
    }

    table {
        thead:first-child h4 {
            margin-top: 0;
        }

        th, td {
            &[data-column-name="id"] {
                display: none !important;
            }
        }

        .dropdown-container {
            position: relative;
            padding-bottom: 3px;
        }

        .dms-drag-handle {
            cursor: move;
            cursor: -webkit-grabbing;
            -webkit-user-drag: none;
        }
    }
}